article {
    color: black;
} 
body {
    background-color: black;
}

nav a {
    color: black;
}

#current-link {
        color : black;
}

.uppercase{
    font-size: 48px;
}

img{
    width: 600px;
    height: auto;
    border: 3px solid black;
}

h1{
    border: 3px solid black;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-left: 450px;
    margin-left: 100px;
    margin-right: 100px;
}